<div class="order-form">
  <ng-container *ngIf="(createdOrder | async); else showOrderForm">
      <pmo-order-details [order]="createdOrder | async"></pmo-order-details>
      <p><button (click)="startNewOrder()">
        Place another order</button></p>
  </ng-container>
  <ng-template #showOrderForm>
    <ng-container *ngIf="(orderFormState$ | async) as formState">
      <h2>Order here</h2>
      <form *ngIf="restaurant" [ngrxFormState]="formState" (ngSubmit)="onSubmit()">
        <tabset>
          <tab heading="Lunch Menu">
            <ul class="list-group" >
              <pmo-menu-items [data]="restaurant.menu.lunch" [ngrxFormControlState]="formState.controls.items"
              ></pmo-menu-items>
            </ul>
          </tab>
          <tab heading="Dinner menu">
            <ul class="list-group" >
              <pmo-menu-items [data]="restaurant.menu.dinner" [ngrxFormControlState]="formState.controls.items"></pmo-menu-items>
            </ul>
          </tab>
        </tabset>
        <p *ngIf="formState.controls.items.errors.required" class="info text-error">Please choose an item</p>
        <div class="form-group">
          <label class="control-label">Name:</label>
          <input name="name" type="text" class="form-control" [ngrxFormControlState]="formState.controls.name">
          <p>Please enter your name.</p>
        </div>
        <div class="form-group">
          <label class="control-label">Address:</label>
          <input name="address" type="text" class="form-control" [ngrxFormControlState]="formState.controls.address">
          <p class="help-text">Please enter your address.</p>
        </div>
        <div class="form-group">
          <label class="control-label">Phone:</label>
          <input name="phone" type="text" class="form-control" [ngrxFormControlState]="formState.controls.phone">
          <p class="help-text">Please enter your phone number.</p>
        </div>
        <div class="submit">
          <h4>Total: ${{orderTotal}}</h4>
            <div class="loading" *ngIf="orderProcessing"></div>
            <button type="submit" [disabled]="formState.isInvalid || formState.isValidationPending || orderProcessing" class="btn">
              Place My Order!
            </button>
            <button (click)="clearForm()" type="button" class="btn btn-link">
              Clear
            </button>
        </div>
      </form>
    </ng-container>
</ng-template>
</div>


